<div class="contacts">
    <div class="contacts-title">Contacts</div>
    <div class="contacts-content">
        <a class="contacts-item" href="mailto:ura.qwav@gmail.com">
            <div class="contacts-item-img">
                <img src="assets/images/email.png" alt="">
            </div>
            <div class="contacts-item-text">ura.qwav@gmail.com</div>
        </a>
        <a class="contacts-item"  href="https://t.me/rocorin">
            <div class="contacts-item-img">
                <img src="assets/images/telegram.png" alt="">
            </div>
            <div class="contacts-item-text">Telegram</div>
        </a>
        <a class="contacts-item"  href="https://github.com/UraQwav">
            <div class="contacts-item-img">
                <img src="assets/images/git.png" alt="">
            </div>
            <div class="contacts-item-text">UraQwav</div>
        </a>
        <a href="https://www.linkedin.com/in/sergei-urevich-ura-qwav/" class="contacts-item">
            <div class="contacts-item-img">
                <img src="assets/images/in.png" alt="">
            </div>
            <div class="contacts-item-text">LinkedIn</div>
        </a>
    </div>
</div>