<div class="home">
    <div class="home-content-item-priview">
        <div class="home-content-item-priview-left">
            <div class="priview-title">I`m Sergei</div>
            <div class="priview-text">a junior web <br> Developer & Designer (sometimes) :&nbsp;D</div>
            <div class="priview-contact">
                <a href="https://t.me/rocorin">Contact with me</a>
            </div>
        </div>
        <div class="home-content-item-priview-right">
            <img src="assets/images/home/me.webp" alt="">
        </div>
    </div>
    <div class="home-content">
        <app-my-skils class="skils"></app-my-skils>
        <app-some-my-work class="work"></app-some-my-work>
        <app-my-study class="education"></app-my-study>
        <app-my-contacts class="contacts"></app-my-contacts>
    </div>
</div>