<div class="home">
    <div class="home-content-item-priview">
        <div class="home-content-item-priview-left">
            <div class="priview-title">I`m Sergei</div>
            <div class="priview-text">a junior web <br> Developer & Designer (sometimes) : D</div>
            <div class="priview-contact">
                <a href="https://t.me/rocorin">Contact with me</a>
            </div>
        </div>
        <div class="home-content-item-priview-right">
            <img src="assets/images/5e75b5f3984c1170fbcebfa8.png" alt="">
        </div>
    </div>
    <div class="home-content">
        <div class="home-content-item">
            <div class="item-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
            <div class="item-image">
                <img src="assets/images/0001.jpg" alt="">
            </div>
        </div>
        <div class="home-content-item">
            <div class="item-image">
                <img src="assets/images/0002.jpg" alt="">
            </div>
            <div class="item-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
        </div>
        <div class="home-content-item">
            <div class="item-text">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
            <div class="item-image">
                <img src="assets/images/0003.jpg" alt="">
            </div>
        </div>
    </div>
</div>