<div class="header">
    <div class="header-logo">
        <a>UraQwav</a>
    </div>
    <div class="header-content">
        <div class="header-content-item">
            <a>Home</a>
        </div>
        <div class="header-content-item">
            <a>My blog</a>
        </div>
        
        <div class="header-content-item">
            <a>Portfolio</a>
        </div>
        <div class="header-content-item">
            <a>About me</a>
        </div>
        <div class="header-content-item">
            <a href="assets/documents/Urevich_CV.pdf" download >My CV</a>
        </div>
    </div>
</div>