<div class="header">
    <div class="header-logo">
        <a  (mouseover)="headerHello=true" (mouseout)="headerHello=false" [routerLink]="['home']">UraQwav</a>
        <div @opacityLeaveHello  *ngIf="headerHello" class="headerHello" [routerLink]="['home']">
            <div class="helloText">Hello&nbsp;:&nbsp;)</div>
        </div>
    </div>
    <div class="header-content">
        <div class="header-content-item">
            <a [routerLink]="['home']">Home</a>
        </div>
        <div class="header-content-item">
            <a [routerLink]="['blog']">My blog</a>
        </div>
        
        <div class="header-content-item">
            <a [routerLink]="['portfolio']">Portfolio</a>
        </div>
        <div class="header-content-item">
            <a href="assets/documents/Urevich_CV.pdf" download >My CV</a>
        </div>
    </div>
</div>