.my-skils{
    display: flex;
    justify-content: space-between;
}
.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    margin-top: 15px;
    cursor: pointer;
}
.right-content div{
    margin-top: 1rem;
}
.right{
    display: flex;
    width: 40%;
    margin: 1rem;
    flex-direction: column;
    margin-left: 4rem;
}
.introduction{
    display: flex;
    justify-content: flex-start;
    color: #85868a;
    width: 100%;
    margin-bottom: 1rem;
}
h1{
    margin-bottom: 1rem;
}
.item:hover{
    transition: 0.5s;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
.item-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.item-title{
    font-size: 1.5rem;
    color: #EC6F66;
}
.item-info{
    margin-top: 0.5rem;
}
.item-link{
    margin-top: 1rem;
    font-size: 0.8rem;
}
.view{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    background: #EC6F66;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3A183, #EC6F66); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 125px;
    cursor: pointer;
}
.view a{
    color:#fff;
}
.mobile{
    display: none;
}
@media only screen and (max-width: 900px) {
    .my-skils{
        display: flex;
        flex-direction: column-reverse;
    }
    .mobile{
        display: flex;
    }
    .laptop{
        display: none;
    }
    .right{
        width: 100%;
        margin: 1.5rem;
    }
}