.blog-page{
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65vh;
}
@media only screen and (max-width: 800px) {
    .blog-page{
        font-size: 3rem;
    }
}
