<div class="study">
    <div class="study-div-title">
        <div class="title">Education</div>
        <div class="title-info">Education some text here</div>
    </div>
    <div class="study-div-content">
        <div class="study-div">
            <div class="title-color-year">2020</div>
            <div class="study-info">
                <div class="study-info-item">
                    <div class="study-info-title">Netcracker</div>
                    <div class="study-info-text">Full-Stack web developer courses</div>    
                </div>
            </div>
        </div>
        <div class="study-div">
            <div class="title-color-year">2019</div>
            <div class="study-info">
                <div class="study-info-item">
                    <div class="study-info-title">Epam</div>
                    <div class="study-info-text">Automated testing </div>    
                </div>
            </div>
        </div>
        <div class="study-div">
            <div class="title-color-year">2018</div>
            <div class="study-info">
                <div class="study-info-item">
                    <div class="study-info-title">Hackathon</div>
                    <div class="study-info-text">Victory in FinTech Hackathon</div>    
                </div>
                <div class="study-info-item">
                    <div class="study-info-title">Hackathon</div>
                    <div class="study-info-text">Victory in FrontSpot Global Hackathon</div>    
                </div>
            </div>
        </div>
        <div class="study-div">
            <div class="title-color-year">2017</div>
            <div class="study-info">
                <div class="study-info-item">
                    <div class="study-info-title">University</div>
                    <div class="study-info-text">Started studying at BSTU at the Faculty of IT</div>    
                </div>
            </div>
        </div>
    </div>  
</div>