<div class="error">
    <div class="error-animation">
        <!-- <img src="assets/images/error.jpg" alt=""> ε===(っ≧ω≦)っ -->
        <div class="error-table">
            Where is my fu$@#ng table?!?
        </div>
        <div class="error-face">
            <div class="first">(</div>
            <div class="thecond">ﾉ</div>
            <div class="third">ಥ</div>
            <div class="fourth">益</div>
            <div class="fifth">ಥ</div>
            <div class="sixth">)</div>
            <div class="seventh">ﾉ</div>
        </div>
        
    </div>
    <div class="error-left">
        <div class="img-error">
            <img src="assets/images/error2.webp" alt="">
        </div>
        <div class="content">
            <button [routerLink]="['../']">
                Go to home
            </button>
        </div>
    </div>
    
</div>