.error{

    display: flex;  
    height: 70vh;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 5rem;
}
.error-animation{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: -7rem;
}
.error-table-hidden{
    visibility: hidden;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background: #EC6F66;
    border-radius: 10px;
    min-width: 150px;
}
.error-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content button{
    text-decoration: none;
    color: #fff;
    padding: 0.7rem 1rem;
    cursor: pointer;
    background: none;
    border:none;
}
.error-table{
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    padding: 0.7rem 1rem;
    background: #EC6F66;
    color: #FFF;
    border-radius: 10px;
}
.error-face{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 3rem;
    animation: errorFace 5s infinite;
}
.thecond, .seventh{
    font-size: 5rem;
    animation: errorFaceHand 1s infinite;
}
.third, .fifth{
    animation: errorFaceGlasess 0.5s infinite;
}
.fourth{
    animation: errorFaceMustage 1s infinite;
}
.error-img img{
   
}
.content button{
    text-decoration: none;
}
.img-error{
    display: flex;
    flex:1;

}
@keyframes errorFace{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: translateX(100%) scale(1,1);
    }
    51%{
        transform: translateX(98%) scale(-1, 1);
    }
    100%{
        transform: scale(-1,1);
    }
}
@keyframes errorFaceHand{
50%{
    transform: rotate(20deg) translateY(10%);
}
}
@keyframes errorFaceGlasess {
    50%{
        transform: scale(1.1) translatex(10%);
    }
}
@keyframes  errorFaceMustage{
    50%{
        transform: scale(1.1) translateY(-10%);
    }
}
button{
    text-decoration: none;
}
@media only screen and (max-width: 800px) {
   .error{
       justify-content: center;
       flex-direction: column;
       overflow: hidden;
       height: auto;
       margin: 0;
   }
   .error-animation{
       margin-top: 5rem;
   }
   .content{
   margin-bottom: 5rem;
   }
}
