<div class="work">
    <div class="work-content">
        <div class="title">
            <div class="big-title">Latest work</div>
            <div class="short-title-info">Perfect solution for digital experience</div>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Example</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <div class="work-img">
                <img src="assets/images/project/2.png" alt="">
            </div>
        </div>
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Example</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <div class="work-img">
                <img src="assets/images/project/3.png" alt="">
            </div>
        </div>
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Example</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <div class="work-img">
                <img src="assets/images/project/2.png" alt="">
            </div>
        </div>
        
    </div>
</div>