<div class="work">
    <div class="work-content laptopwork">
        <div class="title">
            <div class="big-title">Latest work</div>
            <div class="short-title-info">Perfect solution for digital experience</div>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Shotime</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">angular</div>
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">ts</div>
                </div>
            </div>
            <a href="https://uraqwav.github.io/shotime" class="work-img">
                <img src="assets/images/home/3.webp" alt="">
            </a>
        </div>
        <div class="allpproject" (click)="allProject()">
            <a>All projects</a>
            <div class="all-project-some-info">*Most projects are made only for portfolio</div>
        </div>
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Ugmonk</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">angular</div>
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">sass</div>
                    <div class="project-technology-item">ts</div>
                </div>
            </div>
            <a href="https://uraqwav.github.io/ugmonk" class="work-img">
                <img src="assets/images/home/2.webp" alt="">
            </a>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Tesla</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <a href="https://uraqwav.github.io/tesla"  class="work-img">
                <img src="assets/images/home/car.webp" alt="">
            </a>
        </div>
        
    </div>
    <div class="mobilework">
        <div class="title">
            <div class="big-title">Latest work</div>
            <div class="short-title-info">Perfect solution for digital experience</div>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Shotime</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">angular</div>
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">ts</div>
                </div>
            </div>
            <a href="https://uraqwav.github.io/shotime" class="work-img">
                <img src="assets/images/home/3.webp" alt="">
            </a>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Ugmonk</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">angular</div>
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">sass</div>
                    <div class="project-technology-item">ts</div>
                </div>
            </div>
            <a href="https://uraqwav.github.io/ugmonk" class="work-img">
                <img src="assets/images/home/2.webp" alt="">
            </a>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Tesla</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <a href="https://uraqwav.github.io/tesla"  class="work-img">
                <img src="assets/images/home/car.webp" alt="">
            </a>
        </div>

        <div class="allpproject" (click)="allProject()">
            <a>All projects</a>
            <div class="all-project-some-info">*Most projects are made only for portfolio</div>
        </div>
    </div>
</div>