<div class="work">
    <div class="work-content">
        <div class="title">
            <div class="big-title">Latest work</div>
            <div class="short-title-info">Perfect solution for digital experience</div>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Example</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <div class="work-img">
                <img src="assets/images/home/3.webp" alt="">
            </div>
        </div>
        <div class="allpproject">
            <a href="">All projects</a>
            <div class="all-project-some-info">*Most projects are made only for portfolio</div>
        </div>
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Example</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <div class="work-img">
                <img src="assets/images/home/2.webp" alt="">
            </div>
        </div>
        
        <div class="work-example">
            <div class="work-example-title">
                <div class="project-name">Example</div>
                <div class="project-technlogy">
                    <div class="project-technology-item">html</div>
                    <div class="project-technology-item">css</div>
                    <div class="project-technology-item">js</div>
                </div>
            </div>
            <div class="work-img">
                <img src="assets/images/home/car.webp" alt="">
            </div>
        </div>
        
    </div>
</div>