.work{
   width: 86.5%;
   margin-top: 3rem;
}
.title{
    margin-top: 2rem;
}
.big-title{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.short-title-info{
    color: #85868a;
}
.work-content{
    max-width: 800px;
    height: 120vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.work-content .work-example{
    height: 20vw;
    width: 30vw;
}
.work-content .title{
    height: 100px;
}
.work-example{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
    overflow: hidden;
    margin-top: 1rem;
    margin-right: 2rem;
}
.work-img{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
.work-img img{
    width: 100%;
}
.work-example-title{
    display: flex;
    justify-content: space-between;
}
.project-name{
    font-size: 1.8rem;
    color: #EC6F66;
    margin: 0.5rem 1rem;
}
.project-technlogy{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project-technology-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.2rem 0.5rem;
    margin: 0.25rem;
    background: #85868a7c;
    color: #fff;
    border-radius: 5px;
    font-size: 0.8rem;
    height: 1rem;
}
.allpproject{
    height: 45vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.allpproject a{
    font-size: 2rem;
    color: #EC6F66;
    text-decoration: underline;
    cursor: pointer;
}
.all-project-some-info{
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #85868a;
}
.mobilework{
    display:none;
}
@media only screen and (max-width: 1000px) {
    .work-content{
        flex-direction: column;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .work-content .title{
        height: auto;
    }
    .laptopwork{
        display: none;
    }
    .mobilework{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .allpproject{
        height: auto;
        margin: 4rem 0;
    }
    .work-example{
        margin-right:0;
        width:60vw;
    }
}
@media only screen and (max-width: 800px) {
    .work-example{
        margin-right:0;
        width:85vw;
    }
    .work{
        width: auto;
    }
}